@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #299df2;
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: unset;
}


h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}


/*general*/
body {
    font-family: 'Roboto', sans-serif;
}

.page{
    padding: 1rem;
}


/*header*/

#header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242236;
}
#header .title {
    margin: 0;
    padding: 0 1rem;
    color: #fffffe;
}
#header .auth-options {
    height: 100%;
    display: flex;
}

#header .auth-options button{
    padding: 0 1rem;
    background: #100f18;
    color: #fffffe;
    font-size: 1.1rem;
    transition: ease .8s;
}
#header .auth-options button:hover{
    background-color: #252433;
}

@media screen and (max-width:550px) {
    #header .title {
        font-size: 1.2rem;
    }

    #header .auth-options button {

        font-size: 1rem;
    }
}